$middle: 1000px;
$tablets: 768px;
$phones: 480px;

// Шрифт по умолчанию
$fontfamily: "Montserrat";
$fontSize: rem(18);

//Контейнеры
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$containerPadding: 15px;
