<div class="container">
    <div class="filter-menu">       
            <div data-f="all">ALL</div>
            <div data-f="alizarin" class="text-alizarin">ALIZARIN</div>
            <div data-f="wisteria" class="text-wisteria">WISTERIA</div>
            <div data-f="emerland" class="text-emerland">EMERLAND</div>
            <div data-f="sunflower" class="text-sunflower">SUNFLOWER</div>        
    </div>
    <div class="block-cover">
        <div class="card alizarin"></div>
        <div class="card wisteria"></div>
        <div class="card emerland"></div>
        <div class="card belizehole"></div>
        <div class="card sunflower"></div>
        <div class="card alizarin"></div>
        <div class="card wisteria"></div>
        <div class="card emerland"></div>
        <div class="card belizehole"></div>
        <div class="card sunflower"></div>
        <div class="card alizarin"></div>
        <div class="card wisteria"></div>
        <div class="card emerland"></div>
        <div class="card belizehole"></div>
        <div class="card sunflower"></div>
        <div class="card alizarin"></div>
        <div class="card wisteria"></div>
        <div class="card emerland"></div>
        <div class="card belizehole"></div>
        <div class="card sunflower"></div>
    </div>
</div>