<div class="tabs-container">
    <div class="tabs">
      <div class="tab active">
        tab1
      </div>
      <div class="tab">
        tab2
      </div>
      <div class="tab">
        tab3
      </div>
    </div>
    <div class="tab-content active">
      <div class="wallet__settings">
       1
      </div>
    </div>
    <div class="tab-content">
      <div class="wallet__mining mining">
        2
      </div>
    </div>
    <div class="tab-content">
      <div class="theme">
     3
      </div>    
    </div>
  </div>