.spoiler {
    padding-top: 30px;
    &__item {
        margin-bottom: 10px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px;
        background-color: #445368;
        cursor: pointer;
    }
    &__content {               
        background: rgba(68, 83, 104, 0.4);                     
        max-height: 0; 
        overflow: hidden;
        transition: max-height 0.5s;
        box-sizing: content-box;
      
    }
    &__arrow {
        transform: rotate(180deg);
    }
}
.spoiler__item.active .spoiler__content {    
    transition: max-height 0.5;}
   
.spoiler__item.active .spoiler__arrow {
    transform: rotate(270deg);
}